/*@import "zero.css";*/
* {
  margin: 0;
}

a { text-decoration: none; }

.top-wrapper {
  padding-top: 180px;
  padding-bottom: 100px;
  color: #FF9800;
  background-image: url(../img/koding_uye.jpeg);
  background-size: cover;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-wrapper p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  padding: 12px 24px;
  opacity: 0.8;
  color: #000;
  display: inline-block;
  border-radius: 25px;
}

.btn:hover {
  opacity: 1;
}

.signup { background-color: #239b76; }

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter { background-color: #55acee; }

.fab { margin-right: 5px; }

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  background-color: rgba(255,255,255,0.3);
  float: right;
}

.header-right:hover {
  background-color: rgba(255,255,255,0.5);
}
