body {
  font-family: sans-serif;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  padding: 20px 40px;
  font-size: 36px;
}

.header-list li {
  float: left;
  padding: 33px 30px;
}

li {
  list-style: none;
}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #ff4a4a;
}

.footer {
  padding: 40px;
  background-color: #2f5167;
  height: 230px;
  color: #fff;
}

.footer-logo {
  float: left;
  font-size: 30px;
}

.footer-list {
  float: right;
  margin-top: -16px;
}

.footer-list li {
  padding-bottom: 20px;
}


